venv
.venv
__pycache__
*.mat
*.h5
data/*.h5
**/data1/
data/*.mat
tests/*.mat
tests/*.otb+
src/logs/*
.DS_Store
.vscode
.idea
database.db
*.zip
*.txt
*.json
/src/core/database/database.db
/src/supervisord.pid